#home {
  display: grid;
  grid-template-columns: auto 28vw;
  height: 100vh;

}



.holder {
  height: 100vh;
}

.side-nav {
  height: 100vh;
  box-shadow: -2px 1px 6px -1px rgba(0, 0, 0, 0.2);
}

#delete {
  position: fixed;
  bottom: 2vh;
  left: 3vw;
  width: 50vw;
  height: 100px;
  transition: all 0.2s linear;

  span {
    position: absolute;
    bottom: 10px;

    &.mat-error+ {
      #dels-message {
        bottom: 10px;
        margin: 0 0 8px 30px
      }
    }

  }

  .del-message,
  #dels-message {
    color: #f44336;
    transition: bottom 0.2s ease-in-out;
    position: absolute;
    bottom: -40px;
    margin: 0 0 8px 30px
  }

  &:hover {

    color: #f44336;

    .del-message {

      bottom: 10px;
      margin: 0 0 8px 30px
    }

  }


}

.list-group-item {
  width: 100%;
  padding: .5rem;
  position: relative;

  a.mat-button {
    width: 90%;
    text-align: left;
    padding: .5rem 0 .2rem
  }

  .t-r {
    position: absolute;
    top: 0;
    right: 3vw;
  }
}
