<div class="togg" (mouseover)="disp = true " (mouseleave)="disp=false">



  <div [ngClass]="setClassAgain()">





    <button class="tooltipern rounded-circle" [matTooltip]="'dashboard'" [matTooltipPosition]="'right'"
      (click)="printl('dashboard')" style="cursor: pointer">
      <mat-icon>dashboard</mat-icon>
    </button>





    <!--<button class="tooltipern rounded-circle"-->

    <!--[matTooltip]="'subs'"-->

    <!--[matTooltipPosition]="'right'"-->
    <!--(click)="printl('subs')"-->



    <!--&gt;-->
    <!--<mat-icon>border_horizontal</mat-icon>-->

    <!--</button>-->
    <button class="tooltipern rounded-circle" [matTooltip]="'substitute'" [matTooltipPosition]="'right'"
      (click)="printl('subs')" style="cursor: pointer">
      <mat-icon>border_horizontal</mat-icon>
    </button>
    <button class="tooltipern rounded-circle" [matTooltip]="'fixtures'" [matTooltipPosition]="'right'"
      (click)="printl('fixtures')" style="cursor: pointer">
      <mat-icon>insert_invitation</mat-icon>
    </button>

    <button class="tooltipern rounded-circl" [matTooltip]="'standings'" [matTooltipPosition]="'right'"
      (click)="printl('stands')" style="cursor: pointer">
      <mat-icon>format_line_spacing</mat-icon>

    </button>




    <button class="tooltipern rounded-circle" [matTooltip]="'stats'" [matTooltipPosition]="'right'"
      (click)="printl('stats')" style="cursor: pointer">
      <mat-icon>insert_chart</mat-icon>

    </button>



    <button class="tooltipern rounded-circle" [matTooltip]="'trade finder'" [matTooltipPosition]="'right'"
      (click)="printl('trades')" style="cursor: pointer">
      <mat-icon>search</mat-icon>

    </button>


    <button class="tooltipern rounded-circle" [matTooltip]="'save'" [matTooltipPosition]="'right'"
      (click)="printl('save')" style="cursor: pointer">
      <mat-icon>save</mat-icon>
    </button>
    <button class="tooltipern rounded-circle" [matTooltip]="'play'" [matTooltipPosition]="'right'"
      (click)="printl('play')">
      <mat-icon>play_circle_filled</mat-icon>
    </button>

  </div>
</div>



<div *ngIf="team" class="team-full" id={{team.teamId}}>
  <div [ngStyle]="{'background-color': team.getColor,
    zIndex: '999'}">
    <!--<div class="spacing darkeners">-->
    <!--<span class="team-logo-img"></span>-->
    <!--<span class=" meta" >{{team.teamName}}</span>-->

    <!--<span class="meta">  Position</span>-->
    <!--</div>-->
    <app-team-dashboard-navigator (changeb)="changeSelectedView($event)"></app-team-dashboard-navigator>
  </div>

  <div [ngSwitch]="selectedView" class="mains">


    <div *ngSwitchCase="'dashboard'" class="teamDashboard">

  



      <div class="card-colum border-top">
        <div *ngFor="let f of news" class="card border noBg dimmer">

          <div class="card-body">
            <h5 class="card-title">{{f}}</h5>
            <p class="card-text">
              You would usually see news when a trade is made or a player hits a triple
              double or the game crashes
            </p>
            <span class="badge badge-pill">None</span>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>

        </div>
      </div>






    </div>
    <div *ngSwitchCase="'subs'" class="subslist playe" style=" height:100vh;
            ">

      <div class="player-container">
        <h2>Starters</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="team.lineup" [cdkDropListConnectedTo]="doneList"
          class="list dimmer border" (cdkDropListDropped)="drop($event)">
          <div class="list-item border-b" *ngFor="let item of team.lineup" cdkDrag> <span
              style="margin: 0 10px">{{item.firstName}} </span>
            <span style="margin: 0 10px">{{item.rating}}</span>
            <span style="margin: 0 10px">{{item.age}}</span></div>
        </div>
      </div>

      <div class="player-container">
        <h2>Bench</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="team.bench" [cdkDropListConnectedTo]="todoList"
          class="list dimmer border" (cdkDropListDropped)="drop($event)">
          <div class="list-item border-b" *ngFor="let item of team.bench" cdkDrag>
            <span style="margin: 0 10px">{{item.firstName}} </span>
            <span style="margin: 0 10px">{{item.rating}}</span>
            <span style="margin: 0 10px">{{item.age}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'trades'" class="subslist playe" style="
         height:100vh;
    ">
      <div class="player-container">
        <h2>TradeFinder</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="toTrade" [cdkDropListConnectedTo]="doneList"
          class="list dimmer border" (cdkDropListDropped)="drop($event)">
          <div class="list-item border-b" *ngFor="let item of toTrade" cdkDrag>{{item? item.firstName: item}}</div>
        </div>
      </div>
      <div class="player-container">
        <h2>Picks</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="picks" [cdkDropListConnectedTo]="todoList"
          class="list dimmer border" (cdkDropListDropped)="drop($event)">
          <div class="list-item border-b" *ngFor="let item of picks" cdkDrag>{{item}}</div>
        </div>
      </div>



      <div class="player-container">
        <h2>Players</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="team.players" [cdkDropListConnectedTo]="todoList"
          class="list dimmer border" (cdkDropListDropped)="drop($event)">
          <div class="list-item border-b" *ngFor="let item of team.players" cdkDrag>
            <span style="margin: 0 10px">{{item.firstName}} </span>
            <span style="margin: 0 10px">{{item.rating}}</span>
            <span style="margin: 0 10px">{{item.age}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'fixtures'">
      <app-fixture-dashboard [fixtures]="fixtures"></app-fixture-dashboard>
    </div>


  </div>


</div>


<div class="tooltiptexter " style="color: black">
  <div class="card">
    <h5 style="font-size: 10px; ">{{Player.firstName}} {{Player.lastName}}</h5>
    <div class="countdown-wrapper">
      rating
      <div class="countdown-item ">

        <app-svg-circle [radius]="Player.rating"></app-svg-circle>


        <span>{{Player.rating}}</span>
      </div>

    </div>
  </div>
</div>
