.desk {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  height: calc(100vh - 45px);
}

.news {
  overflow-y: scroll;
  height: inherit;
}

.skip {

  height: calc(100vh - 45px);

}

.activities {
  display: flex;
  flex-direction: column;
  height: inherit;

  .calender {
    flex: 1;
    border-left: none;

    overflow-y: scroll;
  }

  ;

  .front-office {
    flex: .2;
  }

}
