<div class="team-dashboard skip scrollable ">
  <!-- <div class="header p-3">
    <h3 class="heading">{{team.teamName}}</h3>
  </div> -->
  <div class="desk ">
    <div class="news scrollable">
      <div class="list-group dime border" style="height: 100%">
        <div class="list-group-item dime">
          <h4 class="heading">Day </h4>
          <div class="news-item card dimes">
            <div class="card-body special">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi consequatur consequuntur
                ipsam magni nostrum quis, quod. Autem corporis distinctio, et incidunt nihil, numquam quae, repudiandae
                tempora vel vero voluptates.
              </p>
            </div>
          </div>

        </div>
        <div class="list-group-item dime">
          <h4 class="heading">Day </h4>
          <div class="news-item card dimes">
            <div class="card-body special">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem illo neque optio. Culpa dicta dolor
                explicabo fugiat fugit nulla, omnis porro quidem quod repellat, vero voluptas? Atque illo nobis odit!
              </p>
            </div>
          </div>
        </div>
        <div class="list-group-item dime">
          <h4 class="heading">Day </h4>
          <div class="news-item card dimes">
            <div class="card-body special">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore dolores excepturi, facilis fuga
                harum illum labore quibusdam quidem ratione, repellat repudiandae saepe similique soluta tenetur unde
                vero! Labore, necessitatibus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="activities">
      <div class="front-office">
        <div class="card dimes">
          <div class="card-header">
            <h2 class="text-success">
              {{team.teamName}}
            </h2>


          </div>
        </div>
      </div>
      <div class="calender scrollable border">
        <div class="card-columns dime">

          <app-fixture *ngFor="let fix of fixtures" [fixture]="fix"></app-fixture>

        </div>
      </div>

    </div>
  </div>
</div>
