<div class="team-dashboard skip scrollable ">
  <!-- <div class="header p-3">
    <h3 class="heading">{{team.teamName}}</h3>
  </div> -->

  <button mat-button class="btn rounded-circle" style="width: 50px; height: 50px;position: fixed;
              top: .5rem;
              right: 5rem;
              z-index: 999;" (click)="play()">
    <mat-icon>play_circle_filled</mat-icon>
  </button>
  <div class="desk ">
    <div class="news  border scrollable">
      <div class="list-group " style="height: 100vh">
        <div *ngFor="let m of messages" class="list-group-item border-t" style="padding:1rem">
          <h4 class="heading">Day {{m.day}} </h4>
          <!-- <mat-icon color="primary" matBadge="Me" matBadgePosition="above after" matBadgeColor="accent">
            star




          </mat-icon> -->
          <span>
            <mat-icon>perm_contact_calendar</mat-icon>
          </span>

          <div class="news-item ">
            <div class="card-body special">
              <p class="card-text">
                {{m.message}}


              </p>
            </div>
          </div>

        </div>




      </div>
    </div>
    <div class="activities">
      <div class="front-office">
        <div class="card ">
          <div class="card-header">
            <h2 class="text-success">
              {{team.teamName}}
              <!-- <app-svg-circle [radius]="99"></app-svg-circle> -->
            </h2>


          </div>
        </div>
      </div>
      <div class="calender scrollable border" style="text-align: center">

        <app-fixture *ngFor="let fix of fixtures" [fixture]="fix" (bild)="playUntil($event)"></app-fixture>


      </div>

    </div>
  </div>
</div>
