<div [ngClass]="setClass()" style="overflow-y: hidden;">

  <div class="overlay" id="optogg" style="  width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;" [hidden]="showOps" (click)="remOps($event)">


    <div id="pos" [ngStyle]="
{
  position:'absolute',

  top: opsPos.y,
  left: opsPos.x


}" class="list-group dime border">
      <a class="list-group-item dime light border-0 closer" [routerLink]="['/']"
        routerLinkActive="router-link-active">{{ 'PAGES.HOME.close' | translate }} <span
          style="float: right">{{hotKey}}+H</span></a>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ 'PAGES.HOME.switch' | translate }}
          </mat-expansion-panel-header>
          <button class="list-group-item dime noBg light border-0" [disabled]="theme.blue"
            (click)="setTheme('blue', 'white')">Dark(default) <span class="rounded-circle border "
              style="float: right;width: 20px; height: 20px; background-color: #020811"></span></button>
          <button class="list-group-item dime noBg light border-0" [disabled]="theme.white"
            (click)="setTheme('white', 'blue')">Light <span class="rounded-circle border"
              style="float: right;width: 20px; height: 20px; background-color: #e1f5fe"></span></button>
        </mat-expansion-panel>

      </mat-accordion>

      <a class="list-group-item dime noBg light border-0 closer"
        routerLink="about">{{ 'PAGES.HOME.about' | translate }}</a>
      <a class="list-group-item dime noBg light border-0" (click)="toggleFull()">{{ 'PAGES.HOME.Toggle' | translate }}
        <span style="float: right">{{hotKey}}+T</span></a>
      <a class="list-group-item dime noBg light border-0" (click)="closeApp()"> {{ 'PAGES.HOME.quit' | translate }}
        <span style="float: right">{{hotKey}}+Q</span></a>
    </div>

  </div>

  <div class="full">


    <main>

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
