@import '../globals';
@import '../mxins';

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;

}



body {


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  font-family: $font-family-sans-serif;


}

.flex {
  display: block;

  @include desktop {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}

.flexer {
  display: block;

  @include desktop {

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.card-columns .mat-card {
  margin-bottom: 0.75rem;
}


.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
  display: flex;
}

.card-columns .mat-card {
  flex: 1
}
