@import '../globals';
@import '../mxins';


.danger {
  color: $danger;
}

.card {


  border-radius: 0;
  padding: 20px;

}

.shadow-t {
  @include shadow(0, -0.5rem, .5rem, 0, rgba(0, 0, 0, 0.15));

}

.btn-0 {
  padding: 10px 8px
}

a {
  text-decoration: none;
}
