#message {
  //background-color: #29b947;
  width: 30vw;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  opacity: 0;
  z-index: 999;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2),
    2rem -1rem 3rem rgba(0, 0, 0, 0.2);
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 1.5rem;
  background-color: #04040f;


  &.open {
    opacity: 1;
  }

  span {
    position: absolute;
    top: 2px;
    left: 2px;

  }

}
